<nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center">
      
        <img src="assets/logo.png" alt="logo" style="width: 50%;height: 3rem;">
      
      <ul class="flex space-x-4">
        <li><a href="#" class="text-white hover:text-gray-300">Home</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">About</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Services</a></li>
        <li><a href="#" class="text-white hover:text-gray-300">Contact</a></li>
        <li></li>
        <li><a href="#" class="text-white hover:text-gray-300">Account</a></li>
      </ul>
    </div>
  </nav>